---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

PointerAlignment: Right
ReferenceAlignment: Right

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterNamespace: false
  AfterClass: false
  AfterStruct: false
  AfterControlStatement: Never
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

SpaceBeforeParens: ControlStatements

SortIncludes: Never
IncludeBlocks: Preserve
NamespaceIndentation: None
