*.o
*.d
initrd
vmlinuz
mvvmm
tmp.md
*.img
*.err
linux-*/
*.ko
build.log
build/
*.cmd
*.mod.c
*.mod
task.md
REVIEW.md
Module.symvers
modules.order
initramfs/
ramdisk/
.bashrc
.inputrc
.Xauthority
compile_commands.json